<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @qualification.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @qualification.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @qualification.level %>
</p>

<p>
  <strong>Acquired date:</strong>
  <%= @qualification.acquired_date %>
</p>

<p>
  <strong>Valid until:</strong>
  <%= @qualification.valid_until %>
</p>

<p>
  <strong>Description:</strong>
  <%= @qualification.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @qualification.notes %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
